@import "/src/difenitions";

.topUserWrapper {
  margin-top: 10px;
  padding: 4px 10px;

  border: white solid 1px;
  border-radius: 10px;
  background-color: $app-background_light-color;
  text-decoration: none;

  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $width-screen-tablet) {
    width: 70% !important;
  }
  @media screen and (max-width: 500px) {
    width: 100% !important;
  }

  > div {
    font-weight: bold;
    font-size: 20px;
    text-align: center;

    @media screen and (max-width: $width-screen-tablet) {
      font-size: 16px;
    }
  }
}