@import "/src/difenitions";

.userWrapper {
  margin-top: 5px;
  padding: 5px;
  border: white solid 1px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: black;

  .logoWrapper {
    line-height: 0;

    img {
      display: inline-block;
      height: 100px;

      @media screen and (max-width: $width-screen-tablet) {
        height: 70px;
      }
    }
  }

  .descriptionWrapper {
    margin-left: 10px;
    flex-grow: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      > *:not(:first-child) {
        margin-top: 5px;

        @media screen and (max-width: $width-screen-tablet) {
          margin-top: 3px;
        }
      }

      a {
        color: white;

        h3 {
          @media screen and (max-width: $width-screen-tablet) {
            font-size: 16px;
          }
        }
      }


      p {
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;

        @media screen and (max-width: $width-screen-tablet) {
          font-size: 16px;
        }

        span {
          color: white;
        }
      }
    }

    .status {
      flex-grow: 1;

      p {
        padding: 0 10px;
        color: white;
        font-size: 30px;
        line-height: 100%;
        font-family: 'Caveat', cursive;
        text-align: center;

        @media screen and (max-width: $width-screen-tablet) {
          font-size: 20px;
        }
        @media screen and (max-width: 500px) {
          font-size: 16px;
        }
      }
    }
  }
}