.topUserWrapper {
  border: white solid 1px;
  border-radius: 10px;
  background-color: #FFFFFF66;
  cursor: pointer;

  display: flex;
  justify-content: space-between;

  > div {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
}