.gameItemWrapper {
  margin-top: 5px;
  padding: 5px;
  border: white solid 1px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  color: black;

  .logoWrapper {
    line-height: 0;

    img {
      display: inline-block;
      height: 100px;
      width: 100px;
    }
  }

  .descriptionWrapper {
    margin-left: 10px;
    flex-grow: 1;

    display: flex;
    justify-content: space-between;

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      > *:not(:first-child) {
        margin-top: 10px;
      }

      h3 {
        color: white;
      }


      p {
        color: rgba(255, 255, 255, 0.6);
        font-size: 20px;

        span {
          margin-left: 5px;
          color: black;
        }
      }

      button {
        padding: 3px 10px;
        cursor: pointer;
      }
    }
  }
}