@import "/src/difenitions";

.cellWrapper {
  width: $cell-size-big;
  height: $cell-size-big;

  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1400px) {
    width: $cell-size-middle;
    height: $cell-size-middle;
  }
  @media screen and (max-width: $width-screen-tablet) {
    width: $cell-size-little;
    height: $cell-size-little;
  }

  img {
    display: inline-block;
    width: $figure-size-big;
    position: relative;

    @media screen and (max-width: 1400px) {
      width: $figure-size-middle;
    }
    @media screen and (max-width: $width-screen-tablet) {
      width: $figure-size-little;
    }
  }
}

.black {
  background-color: $black-cell-color;
}

.white {
  background-color: $white-cell-color;
}

.selected {
  background-color: $selected-cell-color;
}

.crush {
  background-color: $crush-color;
}

.available {
  width: $dot-size;
  height: $dot-size;
  border-radius: 50%;

  background-color: $available-dot-color;
}

.forward {
  border: $forward-color solid 4px;
}