.gameWrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .messageBoardWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
}