@import "/src/difenitions";

.usersOnlineWrapper {
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-110%);

  height: 250px;
  width: 150px;
  overflow-y: auto;

  border: white solid 1px;
  border-radius: 5px;
  background-color: $app-background_dark-color;

  @media screen and (max-width: 1400px) {
    width: 100px;
  }
  @media screen and (max-width: $width-screen-tablet) {
    height: 200px;
  }


  .title {
    text-decoration: underline;
    text-align: center;

    @media screen and (max-width: 1400px) {
      font-size: 14px;
    }
  }

  .usersContainer {

  }
}