@import "/src/difenitions";

.avatar {

  img {
    display: inline-block;
    height: 150px;

    @media screen and (max-width: $width-screen-tablet) {
      height: 120px;
    }
  }

  button {
    cursor: pointer;
  }

  .editButton {
    padding: 1px 3px;

    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
  }
}