@import "/src/difenitions";

.headerWrapper {
  border-bottom: white solid 1px;
  background-color: $app-background_dark-color;
  min-height: 10vh;
  display: flex;
  align-items: center;

  // style for container
  > div {
    flex-grow: 1;
  }

  .flexWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logoWrapper {
      img {
        height: 55px;
      }
    }

    h1 {

      @media screen and (max-width: $width-screen-tablet) {
        font-size: 25px;
      }
    }

    .profile {
      text-align: center;
      h3 {
        color: white;
      }

      button {
        margin-top: 3px;
        padding: 1px 10px;
      }
    }
  }
}