.headerWrapper {
  border-bottom: white solid 1px;
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 10vh;
  display: flex;
  align-items: center;

  // style for container
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logoWrapper {
    img {
      height: 55px;
    }
  }

  .profile {
    text-align: center;
    h3 {
      color: white;
    }

    button {
      margin-top: 3px;
      padding: 1px 10px;
    }
  }
}