@import "/src/difenitions";

.profileWrapper {

  .profileInfo {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      //align-items: center;
    }

    .firstColumn {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .secondColumn {
      margin-left: 20px;

      @media screen and (max-width: 500px) {
        margin-left: 0;
        margin-top: 10px;
      }

      > div:not(:first-child) {
        margin-top: 10px;
      }

      .profileInfoWrapper {

      }

      h3 {
        text-decoration: underline;

        @media screen and (max-width: $width-screen-tablet) {
          font-size: 18px;
        }
      }

      p {
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;

        @media screen and (max-width: $width-screen-tablet) {
          font-size: 16px;
        }

        span {
          color: white;
        }
      }
    }
  }

}