@import "/src/difenitions";

.profileWrapper {

  .profileInfo {
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      //align-items: center;
    }

    .avatarWrapper {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        display: inline-block;
        height: 150px;

        @media screen and (max-width: $width-screen-tablet) {
          height: 120px;
        }
      }

      button {
        cursor: pointer;
      }

      .editButton {
        padding: 1px 3px;

        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
      }

      .followButton {
        margin-top: 5px;
        padding: 3px 10px;
        display: inline-block;
      }
    }

    .descriptions {
      margin-left: 20px;

      @media screen and (max-width: 500px) {
        margin-left: 0;
        margin-top: 10px;
      }

      > div:not(:first-child) {
        margin-top: 10px;
      }

      .profileInfoWrapper {

      }

      .statusWrapper {

        > div {
          min-height: 25px;

          display: flex;
          align-items: center;

          input {
            padding: 2px 5px;
            font-size: 16px;
            font-style: italic;
            width: 400px;

            @media screen and (max-width: $width-screen-tablet) {
              width: 200px;
            }
          }

          span {
            font-size: 22px;
            font-style: italic;
            color: white;

            @media screen and (max-width: $width-screen-tablet) {
              font-size: 16px;
            }
          }
        }
      }

      .statistics {

      }

      h3 {
        text-decoration: underline;

        @media screen and (max-width: $width-screen-tablet) {
          font-size: 18px;
        }
      }

      p {
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;

        @media screen and (max-width: $width-screen-tablet) {
          font-size: 16px;
        }

        span {
          color: white;
        }
      }
    }
  }

}