.profileWrapper {

  .profileInfo {
    display: flex;

    .avatarWrapper {
      position: relative;
      text-align: center;

      img {
        display: inline-block;
        height: 150px;
      }

      .editButton {
        padding: 1px 3px;

        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);
      }

      .followButton {
        margin-top: 5px;
        padding: 3px 10px;
        display: inline-block;
      }
    }

    .descriptions {
      margin-left: 10px;

      .profileInfoWrapper {

      }

      .statistics {
        margin-top: 10px;
      }

      h3 {
        text-decoration: underline;
      }

      p {
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;

        span {
          color: white;
        }
      }
    }
  }

}