@import "/src/difenitions";

.footerWrapper {
  background-color: $app-background_dark-color;
  border-top: white solid 1px;
  min-height: 10vh;
  display: flex;
  align-items: center;


  .copyRight {

    &::before {
      margin-right: 5px;
      content: '©';
    }
  }
}