.footerWrapper {
  background-color: rgba(0, 0, 0, 0.2);
  border-top: white solid 1px;
  min-height: 10vh;
  display: flex;
  align-items: center;


  .copyRight {

    &::before {
      margin-right: 5px;
      content: '©';
    }
  }
}