.footerWrapper {
  margin-top: 10px;
  border-top: white solid 1px;
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .copyRight {

    &::before {
      margin-right: 5px;
      content: '©';
    }
  }
}