@import "/src/difenitions";

.customInputField {

  label {

  }

  input {
    padding: 2px 5px;
    width: 100%;
  }

  .inputError {
    border: $error-form-color solid 2px;
    outline-color: $error-form-color;
  }

  p {
    color: $error-form-color;
    font-size: 14px;
    line-height: 1;
    height: 18px;

    display: flex;
    align-items: center;
  };
}