@import "/src/difenitions";

.chatMessagesWrapper {
  padding: 1px 10px 5px;
  border: white solid 1px;
  background-color: $app-background_dark-color;
  height: 70vh;

  overflow-y: auto;

  @media screen and (max-width: 500px) {
    width: 220px;
  }
}