.loginWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .formWrapper {
    margin-top: 20px;
    padding: 20px;
    min-width: 320px;
    border: white solid 2px;
    display: flex;
    flex-direction: column;
    align-content: space-between;

    .field {
      display: flex;

      &:not(:first-child) {
        margin-top: 5px;
      }

      input {
        flex-grow: 1;
      }

      .inputError {
        border: red solid 2px;
      }
    }

    button {
      margin-top: 10px;
    }

    input, button {
      padding: 2px 5px;
    }

    .errorMessageField {
      margin-top: 5px;
      color: red;
    }

    .navLinkText {
      margin-top: 10px;

      a {
        color: yellow;
      }

    }
  }
}