.loginWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .formWrapper {
    margin-top: 20px;
    padding: 20px;
    min-width: 320px;
    border: white solid 2px;
    display: flex;
    flex-direction: column;
    align-content: space-between;

    .fieldsWrapper {

    }


    button {
      padding: 2px 5px;
      margin-top: 10px;
    }

    .navLinkText {
      margin-top: 10px;

      a {
        color: yellow;
      }
    }
  }
}