$width-screen-tablet: 768px;
$width-screen-mobile: 360px;


$app-background-color: darkgreen;
$app-background_dark-color: rgba(0, 0, 0, 0.2);
$app-background_light-color: rgba(255, 255, 255, 0.4);

$container-width: 800px;

$error-form-color: #ff4d00;

$error-color: rgba(255, 68, 0, 0.5);
$warning-color: rgba(253, 150, 0, 0.5);
$info-color: rgba(4, 248, 4, 0.5);

// game
$border-score-thickness-big: 10px;
$border-score-thickness-little: 3px;
$border-board-thickness: 10px;
$border-inset-thickness-big: 40px;
$border-inset-thickness-little: 20px;
$border-font-size-big: 22px;
$border-font-size-little: 14px;

$cell-size-big: 64px;
$cell-size-middle: 40px;
$cell-size-little: 20px;


$figure-size-big: 55px;
$figure-size-middle: 35px;
$figure-size-little: 15px;

$dot-size: 15px;

$black-cell-color: #86735c;
$white-cell-color: white;
$selected-cell-color: #5b5bf8;
$available-dot-color: #92f882;
$crush-color: #fa3838;
$forward-color: red;

$white-figure-color: white;
$black-figure-color: black;